#p1 {
    text-align: left;
    font-size: 84px;
    font-weight:lighter;
    color: gray;
}

#p2 {
    text-align: left;
    font-size: 56px;
    font-weight: lighter;
    color: gray;
}

#img-wb {
    height: 62px;
    width: 62px;
}